<!-- 
-
-
Contact Us Page
-
-
-->
<head>
<style>
a:link {
    color: #FFFFFF;
    text-decoration: none;
}
</style>
</head>
<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
	<!-- Top Menu Bar -->
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/face_icon.png" onclick="bb.pushScreen('settings.htm', 'settings');">Settings</div>
	</div>
	<br>
	<br>
	<section data-role="content" style="text-align:center;">     
		<select data-bb-label="Options" id="selections" onchange="displayInfo();">
			<option value="" selected="true">Please Select an option.</option>
			<option value="App Info">App Info</option>
			<option value="About Us">About Us</option>
			<option value="Contact Us">Contact Us</option>
		</select>
		<div id="output">
		</div>
	</section>
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/contact_icon.png">Contact Us</div>
	</div>
</div>
