<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">

<section data-role="content" >  
		<div align="center">
		<h1>Please Wait</h1>       
		<h5 style="font-size:24px">Doing first time database creation. <br />You will only see this screen once.</h5>
		<div class="center" data-bb-type="activity-indicator" data-bb-size="large"></div>
		<!-- <progress id="progress" value="0" max="100"></progress> -->
	<div id="output">
	<h5>It will take up to 3 minutes to finish this process.</h5>
	</div>
	</div>
</section>
</div>


