<!-- 
-
-
Fares Page
-
-
-->
<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
	<!-- Top Menu Bar -->
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/face_icon.png" onclick="bb.pushScreen('settings.htm', 'settings');">Settings</div>
	</div>
	<section data-role="content">
		<div id="costTable" style="width:96%; margin:2% 2% 0 2%;">
			<table class="datatable" border="1" summary="Table showing fare options">
			<tbody>
				<tr>
					<td class="titlerow_even">Fare Payment</td>
					<td class="titlerow_even">2012 Fare</td>
				</tr>
				<tr>
					<td class="altrow">Adult Monthly Pass (see note 1)  </td>
					<td class="altrow">$68.00  </td></tr>
				<tr>
					<td class="row">Reduced Monthly Pass (see notes 1 and 2) </td>
					<td class="row">$56.00  </td></tr><tr>
					<td class="altrow">Adult Tickets (Sold in strips of five) </td>
					<td class="altrow">$10.50 ($2.10 each)  </td>
				</tr>
				<tr>
					<td class="row">Reduced Tickets (Sold in strips of five)  (see note 2) </td>
					<td class="row">$9.00 ($1.80 each)</td></tr>
				<tr>
					<td class="altrow">Cash Fare  </td>
					<td class="altrow">$3.00  </td>
				</tr>
				<tr>
					<td class="row">Corporate Pass  </td>
					<td class="row">$58.35</td>
				</tr>
				<tr>
					<td class="altrow">College Pass (Per 4 month term) (see note 1)  </td>
					<td class="altrow">$227.00</td>
				</tr>
				<tr>
					<td class="row">Student Summer Pass (July and August) (see note 1)  </td>
					<td class="row">$95.00</td></tr>
				<tr>
					<td class="altrow">Day Pass </td><td class="altrow">$6.00  </td>
				</tr>
				<tr>
					<td class="row">T.R.I.P. Pass  </td>
					<td class="row">$38.00  </td></tr>
				<tr>
					<td class="altrow">U-Pass (see note 3)</td>
					<td class="altrow">$67.50</td></tr></tbody>
			</table>
			<p>Notes:
				<ol>
					<li>Photo I.D. charge of $5.00 required- one-time fee for Adult and Reduced Monthly Passes; per year for Student Reduced Monthly Passes; per term for Summer Pass, College Pass (except Conestoga College) and High School Pass (paid by student).</li>
					<li> Reduced fares are available to seniors, elementary & high school students. </li>
					<li>As approved by Regional Council on March 28, 2012. </li>
				</ol>
			</p>
		</div>	
	</section>

	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/cost_icon.png">Fare Costs</div>
	</div>
</div>
