<!-- 
-
-
Favourites Page
-
-
-->
<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
<style type="text/css"> #menuItem {color: white;}</style>
	<section data-role="content">
		<p>To add favourites, go to routes and enter the stop/route you want to save. Click "Add to favourites" when prompted to.<br /></p>
		<div id="error" align="center"></div> 
		<div id="favDataList" data-bb-type="image-list" data-bb-style="removebuttons" data-bb-images="none">
		</div>
	</section>		
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/favourite_icon.png">Favourites</div>
	</div>
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/home_icon.png" onclick="bb.pushScreen('home.htm', 'home');">Home</div>
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/contact_icon.png" onclick="bb.pushScreen('contact.htm', 'contact');">Other</div>
	</div>
</div>	



