<!-- 
-
-
About Page
-
-
-->

<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
	<br>
	<br>
	<section data-role="content" style="text-align:center;">     
		<select data-bb-label="Options" id="selections" onchange="displayHelp();">
			<option value="" selected="true">Please Select an option.</option>
			<option value="Tutorial">Tutorial</option>
			<option value="Menu">Top Menu</option>
			<option value="Fares">Fare Costs</option>
			<option value="Other">Other</option>
			<option value="Settings">Settings</option>
		</select>
		<div id="output">
		</div>
	</section>
	</section>

	<div data-bb-type="action-bar"  data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/help_icon.png">Help</div>
	</div>
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/home_icon.png" onclick="bb.pushScreen('home.htm', 'home');">Home</div>
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/contact_icon.png" onclick="bb.pushScreen('contact.htm', 'contact');">Other</div>
	</div>
</div>		