<!-- 
-
-
Page Name: Home Page
Author: Pear Programming
Description: Is the menu page for the application. Pushes users to pages that they have selected.
-
- 
-->

<header>
	<style type="text/css"> #menuItem {color: white;}</style>
</header>
<div data-bb-type="screen" data-bb-effect="fade" style="background-color: #252525; color:white">
	<!-- Top Menu Bar -->
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/face_icon.png" onclick="bb.pushScreen('settings.htm', 'settings');">Settings</div>
	</div>
	<section data-role="content" >  
		<h1 align="center" style="font-family:'Elephant'; font-size:55px">GRT Schedule <img src="images/icon.png" height="60px" width="60"/></h1>        
		<h5 align="center" style="font-size:24px">By: <a style="color:white" href="http://pearprogramming.biz">Pear Programming</a></h5>
		<!-- User menu for navigation -->
		<div data-bb-type="image-list" style="padding-top:40px">
			<!-- <div id="menuItem" data-bb-type="item" data-bb-img="images/menu_icons/map_icon.png" data-bb-title="Map" onclick="bb.pushScreen('maps.htm', 'maps');">Map of every GRT stop in KW.</div> -->
			<div id="menuItem" data-bb-type="item" data-bb-img="images/menu_icons/routes_icon.png" data-bb-title="Routes" onclick="bb.pushScreen('routes.htm', 'routes');">Search for bus times at each stop.</div>
			<!-- <div id="menuItem" data-bb-type="item" data-bb-img="images/menu_icons/face_icon.png" data-bb-title="Geolocation" onclick="bb.pushScreen('geolocation.htm', 'geolocation');">Find stops 500m or less from you.</div> -->
			<div id="menuItem" data-bb-type="item" data-bb-img="images/menu_icons/favourite_icon.png" data-bb-title="Favourites" onclick="bb.pushScreen('favourites.htm', 'favourites');">Save stops for quicker look ups.</div>
			<div id="menuItem" data-bb-type="item" data-bb-img="images/menu_icons/cost_icon.png" data-bb-title="Bus Fare" onclick="bb.pushScreen('fareCost.htm', 'fareCost');">Cost of fare.</div>
			<div id="menuItem" data-bb-type="item" data-bb-img="images/menu_icons/contact_icon.png" data-bb-title="Other" onclick="bb.pushScreen('contact.htm', 'other');">Contact Us, Help, About the App</div>
		</div>
	</section>
	<!-- <div data-bb-type="action-bar">
		<div data-bb-type="action" data-bb-img="images/menu_icons/map_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('maps.htm', 'maps');">Map</div> 
		<div data-bb-type="action" data-bb-img="images/menu_icons/routes_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('routes.htm', 'routes');">Search Routes</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/face_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('geolocation.htm', 'geolocation');">Geolocation</div> 
		<div data-bb-type="action" data-bb-img="images/menu_icons/favourite_icon.png" data-bb-style="tab" data-bb-overflow="true"  data- onclick="bb.pushScreen('favourites.htm', 'favourites');">Favourites</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/cost_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('fareCost.htm', 'fareCost');">Bus Fare</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/contact_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('contact.htm', 'other');">Other</div>
	</div>-->
</div>

