<!---
-
-
Map Page
-
-
-->

<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
	<!-- Top Menu Bar -->
	<div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img="images/menu_icons/face_icon.png" onclick="bb.pushScreen('settings.htm', 'settings');">Settings</div>
	</div>
	<section data-role="content">
		<div id="map_canvas"></div>
	</section>
	
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/map_icon.png">Maps</div>
	</div>
</div>
