<!-- 
-
-
Page Name: Routes
Author: Pear Programming
Description: This page will prompt user for stop_id and route_id. It will query based on user input.
-
-
-->
<style type="text/css"> #menuItem {color: white;}</style>
<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white">
	<section data-role="content">
		<!-- User Input (stop id, route id) -->
		<input type="number" placeholder="Enter 4 digit Stop ID." id="userStopID"/>
		<input type="number" placeholder="Enter bus number. Leave blank to display all." id="userRouteID"/>
		<div align="center"><div data-bb-type="button" id="searchstops" onclick="displayRecords()">Search Stop ID</div></div>
		<div id="buttonContainer" align="center"></div>
		<!-- Stop name will go here -->
		<div id="stop" align="center"></div>
		<!-- Add to favourite will go here -->
		<div id="favourite" align="center"></div>
		<!-- Route times will go here -->
		<div id="output">
			<div id="dataList" data-bb-type="image-list" data-bb-images="none">
			</div>
		</div>
		<div id="error" align="center"></div>
	</section>
	<!-- Bottom action Bar -->
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/routes_icon.png">Routes</div>
	</div>
	<!-- Top Menu Bar -->
	 <div data-bb-type="menu">
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/home_icon.png" onclick="bb.pushScreen('home.htm', 'home');">Home</div>
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/help_icon.png" onclick="bb.pushScreen('help.htm', 'help');">Help</div>
		<div data-bb-type="menu-item" data-bb-img"images/menu_icons/contact_icon.png" onclick="bb.pushScreen('contact.htm', 'contact');">Other</div>
	</div> 
	<!-- <div data-bb-type="action-bar">
		<div data-bb-type="action" data-bb-img="images/menu_icons/map_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('maps.htm', 'maps');">Map</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/routes_icon.png" data-bb-style="tab" data-bb-overflow="true" data-bb-selected="true" onclick="bb.pushScreen('routes.htm', 'routes');">Search Routes</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/face_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('geolocation.htm', 'geolocation');">Geolocation</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/favourite_icon.png" data-bb-style="tab" data-bb-overflow="true"  data- onclick="bb.pushScreen('favourites.htm', 'favourites');">Favourites</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/cost_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('fareCost.htm', 'fareCost');">Bus Fare</div>
		<div data-bb-type="action" data-bb-img="images/menu_icons/contact_icon.png" data-bb-style="tab" data-bb-overflow="true" onclick="bb.pushScreen('contact.htm', 'other');">Other</div>
	</div> -->
</div>

	


