<!-- 
-
-
Home Page
-
- 
-->

<script type="text/javascript">

	resetDatabase = function(){
		localStorage.setItem("ResetDatabase", "True");
		bb.pushScreen('database.htm', 'database');
	}
</script>
<div data-bb-type="screen" data-bb-effect="fade" style="background-color:#252525; color:white"> 
	<section data-role="content" >    
		<div id="content">
		
		<h1>Database Issues:</h1> 
		Are you having issues with your database and need to reset it? 
		<br />
		<br />
		Click the button below and you will be forwarded to the database initialization screen again.
		<div align="center"><div data-bb-type="button" onclick="resetDatabase()">Reset Database</div></div>
		</div>
		<div id="output"></div>

		<div id="advertisement"><!-- Banner ad will be displayed here --></div>
	</section>
	<div data-bb-type="action-bar" data-bb-back-caption="Back">
		<div data-bb-type="action" data-bb-style="button" data-bb-selected="true" data-bb-img="images/menu_icons/face_icon.png">Settings</div>
	</div>
</div>

